.cookie-outter{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	background:  white;
	border-top: 1px solid #ddd;
	display: none;
}

.cookie-inner{
	display: block;
	max-width: 1300px;
	margin:0px auto;
}

.cookie-inner p {
	float: left;
	margin:3px 0;
}

.cookie-inner button {
	float: right;
	padding: 8px;
	text-transform: uppercase;
	background: #e2e2e2;
	border:1px solid #ccc;
	outline: none;
}

.cookie-inner button:hover{
	background: #ccc;
	cursor: pointer;
}
